[Unit]
Description=Phenotyping scheduler service
After=network.target

[Service]
Type=simple
User=phenopi
WorkingDirectory=/home/phenopi/phenotyping
ExecStart=/home/phenopi/venvs/phenopi/bin/python -m scripts.scheduling.run_scheduler
Restart=always
RestartSec=5

# Optional but nice
StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
